header {
	display: grid;
	grid-template-columns: 1fr;
}
.header {
	display: grid;
	grid-auto-rows: minmax(200px, auto);
	margin: 20px;
	gap: 10px;
	grid-template-columns: 3fr 5fr 3fr;
	justify-items: center;
	align-items: center;
}
.logo img {
	width: 500px;
	height: 300px;
}
.nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 70px;
}
.nav ul {
	display: grid;
	gap: 100px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	height: 100%;
	margin: 0 70px;
}
.nav a {
	font-size: 20px;
}
.nav a:hover {
	border-bottom: 2px solid gray;
}
.logo-left {
	justify-self: start;
}
.logo-left h1 {
	font-size: 40px;
}
.logo-left h3 {
	font-size: 20px;
}
.logo-right {
	justify-self: end;
	align-self: start;
}
.logo-right a {
	font-size: 20px;
}
