.free-notice {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.free-notice thead th {
	border: 1px solid #e5e5e5;
	padding: 10px 0;
	background: #f0ebeb;
	font-weight: 600;
}
.free-notice tbody tr {
	border-bottom: 1px solid #e5e5e5;
}
.free-notice tbody td {
	padding: 10px 0;
}
.free-notice tbody td:nth-child(2) {	
	text-align: start;
	border-left: 1px solid #e5e5e5;
	padding-left: 10px;
}
.search-box {
	align-self: flex-end;
}
.search-box input {
	font-size: 17px;
	height: 22px;
	width: 150px;
	padding: 0 3px 0 3px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.search-box input:focus-visible {
	outline: none;
	border-bottom: 1px solid black;
}
.free-notice-page {
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}
.free-notice-nav_bar {
	display: flex;
	justify-content: center;
}
.free-notice-nav_bar ul {
	display: flex;
	margin: 0 10px;
}
.free-notice-nav_bar ul li {
	margin-left: 6px;
}
.free-notice-nav_bar ul li:first-child {
	margin-left: 0;
}
