@charset "UTF-8";
.join-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#join-form {
	width: 700px;
}
#join-form input:not([type="button"], [type="radio"]) {
	border: none;
	padding: 20px 0;
	font-size: 18px;
	width: 100%;
}
#join-form input::placeholder {
	opacity: 0.7;
}
#join-form input[type="button"] {
	border-radius: 5px;
	background-color: var(--main-color);
	cursor: pointer;
}
#join-form input:not([type="button"]) {
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
	transition: border-color 0.5s ease-in-out;
}
#join-form input:not([type="button"]):focus {
	border-color: var(--main-color);
}
.join-table td {
	padding-bottom: 30px;
	text-align: center;
}
.join-table {
	width: 100%;
}
.email_functions {
	display: flex;
}