.login-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#login-form {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#login-form input {
	border: none;
	padding: 20px 0;
	font-size: 18px;
}
#login-form input::placeholder {
	opacity: 0.7;
}
#login-form input:nth-child(2) {
	margin-bottom: 40px;
}
#login-form input:not([type="submit"]) {
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
	transition: border-color 0.5s ease-in-out;
}
#login-form input:not([type="submit"]):focus {
	border-color: var(--main-color);
}
#login-form input[type="submit"] {
	border-radius: 5px;
	background-color: var(--main-color);
	cursor: pointer;
	margin-top: 30px;
}
#login-form div {
	margin-top: 25px;
	font-weight: bold;
}